* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;
}

#main-title {
  padding: 1rem 0 0 1rem;
}

ul {
  list-style: none;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

input {
  border: 2px solid black;
}

.title-wrapper {
  display: flex;
  gap: 0.5rem;
}

.btn {
  background-color: #fff;
  border: 2px solid black;
  box-shadow: 2px 2px 2px;
  padding: 2px 5px;
}

.section-title {
  padding-bottom: 1rem;
}

#scores-container {
  border: 2px solid black;
}

#scores-container li {
  padding: 3px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

#submit {
  display: block;
  width: 70px;
  margin-left: auto;
}
